/* Modal overlay */
.sign-in-login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 5, 133, 0.578); /* Background for modal overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures it stays on top */
}

/* Modal content */
.sign-in-login-modal .modal-content {
  background-color: rgb(105, 19, 185); /* Modal box color */
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 40px 15px rgba(69, 69, 69, 0.5); /* Box shadow for the modal */
}

/* Heading */
.sign-in-login-modal .login-signin {
  margin: 0 0 20px 0;
  text-align: center;
  color: #fcfcfc; /* Text color for heading */
}

/* Input Group */
.sign-in-login-modal .input-group {
  margin-bottom: 15px;
  

}

/* Inputs */
.sign-in-login-modal input[type="text"],
.sign-in-login-modal input[type="password"] {
  width: 93%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Button */
.sign-in-login-modal button {
  width: 100%;
  padding: 10px;
  background-color: #0d0815;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Form Toggle Button */
.sign-in-login-modal .toggle-form button {
  background-color: transparent;
  border: none;
  color: #060f19;
  text-decoration: underline;
  cursor: pointer;
}

/* Toggle Form Text */
.sign-in-login-modal .toggle-form {
  color: #fcfcfc;
}

/* Error message */
.sign-in-login-modal .error {
  color: red;
  margin-top: 10px;
}